@import url('https://fonts.googleapis.com/css?family=Rubik:500');
body {
    margin: 0;
    background-color: #e0e0e0;
    color: #333;
}

header {
    background-color: #243319;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerItens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    font-family: "Marcellus", seans-serif;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.ImagensCantosEsquerdo{
    margin-left: 800px;
    margin-top: 180px;
    position: realtve;
}

