@import url('https://fonts.googleapis.com/css?family=Rubik:500');
body {
    margin: 0;
    background-color: #e0e0e0;
    color: #333;
}

header {
    background-color: #243319;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerItens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    font-family: "Marcellus", seans-serif;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.typing-effect {
    font-size: 24px;
  }
  
  .cursor {
    animation: blink-caret 0.75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }

.ImagensCantosEsquerdo{
    margin-left: 782px;
    width: 50px;
    margin-top: 14px;
    position: realtve;
}

.banner{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner {
    position: relative;
}
  
  .banner-content {
    position: relative;
}
  
  .banner img {
    width: 100%;
    height: auto;
    display: block;
}
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
  }
  
  .homePageImagem {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 0;
  }

.logoBanner{
    animation: floatImage 4s ease-in-out infinite;

}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0);
    }
}

.servicos{
    text-align:center;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    display: none;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

.slide img {
    width: 20%;
    height: 10% ;
    height: auto;
}

.imgpaisagismo{
    display: flex;
    flex-direction: row;
    width: 13%;
    align-items: center;
    margin-left: 25%;
    margin-top: -32px;
    position: relative;
}

.imgpaisagismo img{
    width: 130%;
    align-items: center;
}

.row{
    position: relative;
    margin-top: -200px;
}
.ImagemCantoDireito{
    margin-left: -1330px;
    width: 500px;
    margin-top: -190px;
    position: realtve;
}

#textpreto{
    color: black;
}

.buttonpreto{
    text-decoration: none;
    color: black;
    font-family: "Marcellus", seans-serif;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}

.paisagismo{
    background-color: #243319;
    height: 700px;
}

#paisagismo{
    color: #243319;
    position: relative;
    margin-bottom: -28px;
    margin-top: 20px;
    font-size: 120px;
}

.textoExplicativo{
    color: #e0e0e0;
    text-align: left;
    font-family: "Marcellus", seans-serif ;
    width: 60%;
    margin-left: 20%;
    font-size: 20px;
    position: relative;
    margin-top: -504px;
}

.button{
    text-decoration: none;
    color: #e0e0e0;
    font-family: "Marcellus", seans-serif;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;

}

#jardinsverticais{
    color: #e0e0e0;
    position: relative;
    margin-top: 177px;
    font-size: 100px;
}
